<div class="col-13 p-fluid" style="height:100%;">
    <p-table [value]="restaurants" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Last Restock</th>
                <th>Bread (KG)</th>
                <th>Cheese (KG)</th>
                <th>Meat (KG)</th>
                <th>Lettuce (KG)</th>
                <th>Tomato (KG)</th>
                <th>Onion (KG)</th>
                <th>Pickle (KG)</th>
                <th>Ketchup (L)</th>
                <th>Mustard (L)</th>
                <th>Mayo (L)</th>
                <th>Potato (KG)</th>
                <th>Water (L)</th>
                <th>Coke (L)</th>
                <th style="width: 5rem">Restock</th>
                <th style="width: 5rem">Edit</th>
                <th style="width: 5rem">Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"let-stock>
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.location }}</td>
                <td>{{ stock.lastRestock | date: 'dd-MM-yyyy' }}</td>
                <td>{{ stock.bread }}</td>
                <td>{{ stock.cheese }}</td>
                <td>{{ stock.meat }}</td>
                <td>{{ stock.lettuce }}</td>
                <td>{{ stock.tomato }}</td>
                <td>{{ stock.onion }}</td>
                <td>{{ stock.pickle }}</td>
                <td>{{ stock.ketchup }}</td>
                <td>{{ stock.mustard }}</td>
                <td>{{ stock.mayonnaise }}</td>
                <td>{{ stock.potato }}</td>
                <td>{{ stock.water }}</td>
                <td>{{ stock.coke }}</td>
                <td>
                    <button 
                        type="button" 
                        pButton 
                        pRipple 
                        icon="pi pi-sync" 
                        class="p-button-success"
                        >
                    </button>
                </td>
                <td>
                    <button 
                        type="button" 
                        pButton 
                        pRipple 
                        icon="pi pi-pencil" 
                        class="p-button-primary"
                        >
                    </button>
                </td>
                <td>
                    <button 
                        type="button" 
                        pButton 
                        pRipple 
                        icon="pi pi-trash" 
                        class="p-button-danger"
                        >
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>   
</div>
